<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SEO</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'assets/css/style.css' %}"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}"
      type="text/css"
    />
  </head>
  <style >
    input.form-control { width: 400px!important; } 
  </style>
  </style>

  <body>
    <!-- ======= Header ======= -->
    <header id="header" class="header-scrolled">
      <div class="container d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="index.html">Arsha</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            <li class="drop-down">
              <a href="">Drop Down</a>
              <ul>
                <li><a href="#">Drop Down 1</a></li>
                <li class="drop-down">
                  <a href="#">Deep Drop Down</a>
                  <ul>
                    <li><a href="#">Deep Drop Down 1</a></li>
                    <li><a href="#">Deep Drop Down 2</a></li>
                    <li><a href="#">Deep Drop Down 3</a></li>
                    <li><a href="#">Deep Drop Down 4</a></li>
                    <li><a href="#">Deep Drop Down 5</a></li>
                  </ul>
                </li>
                <li><a href="#">Drop Down 2</a></li>
                <li><a href="#">Drop Down 3</a></li>
                <li><a href="#">Drop Down 4</a></li>
              </ul>
            </li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </nav>
        <!-- .nav-menu -->

        <a href="#about" class="get-started-btn scrollto">Get Started</a>
      </div>
    </header>
    <!-- End Header -->

    <div class="container">
      <form class="form-inline" action="{% url 'seo:index' %}" method="POST">
          {% csrf_token %}
        <div class="form-group">
          <input
            type="text"
            class="form-control input-large"
            name="websitetoseo"
            aria-describedby="emailHelp"
            placeholder="Enter website that you want to analyze"
          />
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>

    <script src="{% static 'assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- Template Main JS File -->
    <script src="{% static 'assets/js/main.js' %}"></script>
  </body>
</html>
